body {
  overflow-x: hidden;
  box-sizing: border-box;
}

.app {
    position: absolute;
    bottom: 0%;
    width: 85%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.labyrinth-canvas-wrapper {
    width: 99%;
    aspect-ratio: 1 / 1;
    margin-top: 10%;
    border: solid 1px #2b2b2b;
    touch-action: none;
}

#canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.title {
    font-size: 40px;
    font-weight: 700;
    line-height: 42px;
    height: 100%;
    align-content: center;
    align-items: center;
    width: 60%;
}

.testata {
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.triangle {
  height: 110%;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  letter-spacing: 1px;
}

.help {
  color: #2b2b2b;
}


/* ==========================
   HINT OVERLAY
   ========================== */
#hint {
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

#hint.hidden {
  display: none;
}

.hint-box {
  display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 70%;
    height: auto;
    background-color: #f6f6f6;
    padding: 15px 20px;
    border: 1px #2b2b2b solid;    
    border-radius: 25px;
    align-content: center;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    line-height: 18px;
    font-weight: 500;
    font-size: 15px;
}

.hint-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#indic-title {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  letter-spacing: 1px;
}

.close-hint {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 5px;
}

/* ==========================
   STATUS DEBUG
   ========================== */
.status-debug {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 12px;
  color: #2b2b2b;
  background: rgba(255,255,255,0.6);
  padding: 3px 5px;
  border-radius: 3px;
  z-index: 15;
  width: auto;
  height: auto;
}

a {
  text-decoration: none;
}

.intro-mobile {
  display: block;
}

.intro-desktop {
  display: none;
}

/* ==========================
   INTRO OVERLAY
   ========================== */
   #intro {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  
  #intro.hidden {
    display: none;
  }
  
  .intro-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 75%;
    height: auto;
    background-color: #f6f6f6;
    padding: 15px 20px;
    border: 1px #2b2b2b solid;    
    border-radius: 25px;
    align-content: center;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    line-height: 18px;
    font-weight: 500;
    font-size: 15px;
  }
  
  .intro-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .intro-title {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
    letter-spacing: 1px;
  }
  
  .close-intro {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  
  .close-intro:hover, .close-hint:hover {
    cursor: pointer;
  }
  
  .intro-text {
    font-weight: 500;
  }

  .controls {
    display: none;
  }

@media screen and (min-width: 1024px) {
  .app {
    flex-direction: row;
    height: 60%;
    gap: 0px;
    justify-content: space-between;
  }

  .contenitore-labirinto {
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    border-style: solid;
    border-width: 0.8px;
    border-color: #2b2b2b;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-color: #f6f6f6;
    box-sizing: border-box;
    width: 52.5%;
  }

  .hint-text {
    font-weight: 500;
  }

  .labyrinth-canvas-wrapper {
    margin-left: 5%;
    width: auto;
    height: auto;
    aspect-ratio: 1/1;
    margin-block: 50px;
  }

  .testata {
    width: 40%;
    margin: 0;
  }

  .title {
    font-size: 60px;
    line-height: 1.2;
  }


  .triangle {
    position: absolute;
    bottom: 0;
    right: 0;
    height: auto;
    margin-bottom: 4%;
    margin-right: 6.5%;
    z-index: 50;
}


.intro-mobile {
  display: none;
  font-weight: 500;
}

.intro-desktop {
  display: block;
  font-weight: 500;
}

.intro-box {
  width: 50%;
  gap: 10px;
}

.controls {
  display: grid;
  grid-template-columns: 40px 40px 40px; /* 3 colonne */
  grid-template-rows: 40px 40px 40px;    /* 3 righe */
  justify-content: center;               /* centra orizzontalmente */
  align-items: center;                   /* centra verticalmente */
  gap: 10px;                             /* spazio tra i bottoni */
  width: auto;
  margin: 50px auto;                     /* centra tutto il contenitore */
}

#up {
  grid-column: 2; /* centro */
  grid-row: 1;    /* prima riga */
}

#left {
  grid-column: 1; /* prima colonna */
  grid-row: 2;    /* seconda riga */
}

#right {
  grid-column: 3; /* terza colonna */
  grid-row: 2;    /* seconda riga */
}

#down {
  grid-column: 2; /* centro */
  grid-row: 3;    /* terza riga */
}

.controls button {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: solid 1px #2b2b2b;
  background-color: #f6f6f6;
  color: #2b2b2b;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  box-shadow: none;

}

.controls button:hover {
  background-color: #2b2b2b;
  color: #f6f6f6;
}

.hint-box {
  width: 50%;
}
}

